{{!-- este archivo contiene porciones de codigo html, entese caso del encabezado o menu de navegacion
 que debe ser importado en cada vista que se quiera usar.
 Para importarlo se codifica {{> fileName }}  en este caso {{> navbar }}
donde se codifique la linea anterior sera donde se importe lo que contiene el archivo --}}
{{!-- <h1>Navbar main</h1>
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/edit">Edit</a></li>
    </ul> --}}
    {{!-- lo siguiente es aplicando boostrap --}}
    <nav class="navbar navbar-dark bg-black mb-4">
        <div class="container">
            <a href="/" class="navbar-brand">CRUD Nodejs and Mongodb</a>
        </div>
    </nav>